/* 
Styling HTML document
In styling there are different forms of selectors
and styles that can be applied to the HTML document.
we can style the width, height, color, background-color,
font-size, font-family, font-weight, font-style, text-align,
text-decoration, border, padding, margin, display, position,
float, clear, overflow, visibility, cursor, z-index, etc.
margin, padding, border, and background-color are the most
*/

/* Units of measurements
On the computer we measure images, and items in px
Now with css, we can measure the width, height, font-size, etc.
using units: px, vh, vw, em, rem, %, etc.
*/

body{
  
    margin:0 auto;
    width:600px;
}

section{
    width:500px;
    height:500px;
    background-color:#eeeeee;

    /* Margin */
    margin-top:50px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;

    /* Padding */
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    
 

    /* Font */
    font-size:18px;
    color:black;
    font-family: 'Cambria', 'Arial'; /*Cambria can load but if it is not in the system, then
    it will load the Arial font*/

}

h1{
    color:white;
}

/* We are being specific */
section h1{
    color:deeppink;
}

section ul{
    list-style:none;
  

}



header nav ul li{
    display:inline-block;
    margin-right:50px;
}
/* We are being specific */
header nav ul li a{
   
    text-decoration:none;
    
    /* padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px; */
    /* padding:10px 20px ==> (top, bottom) (left,right) */
    /* padding:10px 20px 10px;; */
    /*top, right, bottom, left*/
    padding:10px 20px 10px 10px; 
    

    /* Display */
    /* margin-bottom:10px;
    margin-top: 10px;
    margin-left: -40px; */
    margin:10px 0px 10px -40px;

    display:inline-block;

    /* border-top-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px; */
    /* border-radius:10px; */
    /* border-width:5px;
    border-color:yellow;
    border-style:solid; */
    /* border:5px solid yellow;  */
    color:blueviolet;
    font-family: 'Nunito', sans-serif;


    
}

/* Layouts in CSS 
we can layout the HTML document using the display property
using the display property we can set the display to be
display: block or inline or inline-block
float, clear, position, z-index, etc.
float:left or right;
clear:both;
position: relative or absolute or fixed;
new css layout techniques
flexbox, grid, etc.

*/


header h1{
    float:left;
    font-family: 'Lobster', cursive;
    color:pink;
 
}

header nav{
    float:right;
    
}

section{
    clear:both;
}





